.imagemCarrinho {
    width: 10em;
    height: 10em;
    margin-top: 0;
  }

  .table-responsive {
    margin-top:100px;
    
  }

  .tabelinha tr:hover {
    background-color: #eee;
    
  }
  .tabelinha{
    margin-top: 5em;
    margin-left: 15em;
    
  }
  .botao{
    margin-top: 1em;
    margin-left: 17.5em;
  }