.teste{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.conteudo{
    width: 100%;
    margin-left: 200px;
    
}
.conteudoCadastro{
    width: 100%;
    margin-left: 200px;
    margin-top: 100px;
    
}
.background{
    background-color: #c2c2c2;
    height: 100%;
    width: 90%;
    border-radius: 20px;
    padding: 1em;
    margin-top: 3em;
}
.titulo{
    font-size: 1.2rem;
    color: #000;

}
.btn-perdas{
    margin-top: 2em;
    border-radius: 10px;
    padding: 2em;
    width: 12em;
    right: 10px;
}