.input-pesquisar{
    border-width: 0.3em solid #000;
    border-radius: 0.5em;
    padding: 0.4em;
    width: 50em;
}
.btn-pesquisar{
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left:1em;
    
}
.btn-cadastrar{
    border-radius: 0.5em;
    padding: 0.5em;
    margin-left:1em;
    width: 12.5em;
}
.container{
    display: block;
    margin-top: 0.5em;
    margin-left: 0;
}